* {

}

h1 {
    text-align: center;
}

body {
    background-image: url("Pictures/Background_1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link, a:visited {
    color: rgb(54, 34, 2);
    padding: 0;
    display: flex;
    text-decoration: none;
    font-weight: bold;

}

a:hover, a:active {
    background-color: #8ed7ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  background-color: #d5f0ff;
  display: flex;
  justify-content: center;
}

img {
    max-width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    justify-content: center;
}

.devteam {
    background-color: #d5f0ffab;
    
}
